h2{
    
    padding-top: 20px;

}
input[type="text"], textarea{
    border-radius: 5px;
    border: 1px solid black;
    padding: 0px 16px;
    outline: none;
    height: 45px;  
    font-size: 16px;
}
select{
    height: 45px;
    background-color: #fff;
    width: 12%;
    border-radius: 5px;
    padding: 0px 16px;
}